# vendor libs
vendor/*

# config
src/xAPI/Config/*
!src/xAPI/Config/Templates/*

# file storage
storage/logs/*
storage/files/*
src/xAPI/View/V10/OAuth/.Cache/[A-z0-9]*
cache/*

# doc generator
sami.phar
SamiConfig.php

# development
htrouter.phar
sftp-config.json
.DS_Store
dev/*
