# vendor libs
vendor/*

# config
src/xAPI/Config/*.yml
!src/xAPI/Config/Templates/*.yml

# file storage
storage/logs/*
storage/files/*
storage/.cache/*
cache/*

# doc generator
sami.phar
docs/*

# composer
composer.phar

# phpBench
phpbench.phar
phpbench.phar.pubkey
phpbench.json

benchmarks/*
!benchmarks/Example
!benchmarks/*.md
!benchmarks/autoload.php

# development
htrouter.phar
sftp-config.json
.DS_Store
dev/*

# linting, code standards
.php_cs.cache
phplint.sh

src/xAPI/View/V10/OAuth/Templates/*
