    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="text-center">{{ site.formats.lxHive-hl }}</h2>
                <p>{{ site.formats.lxHive }} is a fast and lightweight open source xAPI conformant Learning Record Store (LRS). lxHive logs and returns activity statements as defined in the <a href="https://github.com/adlnet/xAPI-Spec">Experience API specification</a> (formerly TinCan API) currently at xAPI Version 1.0.3</p>
                <p>The results of learning experiences are stored in a Learning Record Store (LRS). The LRS is defined as part of the Experience API Specification and controls at its core the following functions:</p>
                <ul>
                    <li>authentication of authorised users</li>
                    <li>validation of compliance to the xAPI Standard</li>
                    <li>the storage of learning related data</li>
                    <li>retrieval of learning related data</li>
                </ul>
                <p>{{ site.formats.lxHive }} is Open Source and published under <a href="http://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL v3</a></p>
            </div>
        </div>
        <div class="row text-center">
            <a href="#features" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>
