    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download {{ site.formats.lxHive-hl }}</h2>
                    <p>Clone or fork {{ site.formats.lxHive-hl }} from Github.</p>
                    <p>
                        <a href="https://github.com/g3i/lxHive" class="btn btn-primary btn-lg"><i class="fa fa-github fa-fw"></i> lXhive on Github</a>
                    </p>
                    <p>
                        <a href="https://github.com/g3i/lxHive/wiki" class="btn btn-default btn-xs btn-lg">Documentation</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
