    <!-- About Section -->
    <section id="features" class="content-section text-center">


         <div class="features-section">

            <div class="container text-left">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="text-center">Features</h2>
                    <p>The application uses MongoDB and PHP and should be easy to install on any web server. It supports Basic Authentication, OAuth 2.0 (Authorization Code Grant) and supports pluggable file storage mechanisms.</p>
                </div>
            </div>

        </div>
        <div class="features-section light">
            <div class="container">
                <div class="col-md-4">
                    <div class="feature">
                        <p class="logo-wrapper"><img class="img-responsive framework-logo" src="/img/logo-xapi-official.png" alt="xAPI compliant"></p>
                        <p>Compliant with <strong><a href="https://github.com/adlnet/xAPI-Spec/blob/1.0.3/xAPI-About.md">xAPi</a></strong> 1.0.0 - 1.0.3</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <p class="logo-wrapper"><img class="img-responsive framework-logo" src="/img/logo.gnu-gpl.png" alt="GNU GPL v3"></p>
                        <p>Open Source with <strong><a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL v3</a></strong></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <p class="logo-wrapper"><img class="img-responsive framework-logo" src="/img/logo-oauth-2.png" alt="oAuth 2"></p>
                        <p>Secure Authentication with <strong><a href="https://oauth.net/2/">OAuth 2</a></strong></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <p class="logo-wrapper"><img class="img-responsive framework-logo" src="/img/logo.mongodb.png"  height="90" alt="Mongo DB"></p>
                        <p>High performance storage with <strong><a href="https://www.mongodb.org/">Mongo DB</a></strong></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <p class="logo-wrapper"><img class="img-responsive framework-logo" src="/img/logo.slim.png"  height="90" alt="Slim framework"></p>
                        <p>Powerful routing with <strong><a href="https://www.slimframework.com/">Slim</a></strong> PHP Framework</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <p><img class="img-responsive framework-logo" src="/img/logo.json.png"  height="90" alt="JSON Schema"></p>
                        <p>Structural data validation with <strong><a href="https://json-schema.org/">JSON Schema</a></strong></p>
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <a href="#download" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>

    </section>
