    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><img src="/img/lxHive.logo.white.png" alt="lxHive"></h1>
                        <p class="intro-text">
                            A fast and lightweight Experience API (TinCan) conformant LRS. <br> {{ site.formats.lxHive-hl }} is Open Source. <br>Created by <img class="brightcookie-logo" height="45" src="/img/logo.bc-globe.png" alt=""> <a class="brightcookie" href="http://www.brightcookie.com.au/">Brightcookie</a>.
                        </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
